/*********************************************
header
*********************************************/
header {
  background-color: #000;
  border-bottom:10px solid #1C2833;
  margin-top: 0;
  padding-top: 10px;
}
header h1{
  color: #fff;
  text-align: center;
  margin: 20px auto;
  margin-bottom: 0;
  font-family: 'Dancing Script', cursive;
  font-size: 120px;
}
header p{
  color: #fff;
  font-size: 10px;
  margin-top: 0;
  text-align: center;

}
header li{
  display:inline;
}
header ul{
  text-align: center;
  padding-left: 0;
  background-size: 100px 50px;
}
nav a{
  text-decoration: none;
  color:#fff;
  font-family: 'Lemonada', cursive;
}
nav li{
  margin:auto 20px;
}
nav a:hover{
  color: #424949;
}

/*********************************************
Body
*********************************************/

.body {
  height: 500px;
  margin-top: 0;
  background-color: #000;

}
.body p{
  color:white;
}
